.landing-session {
    height: 110vh;
    background-color: #ffe7b9;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Style for each row */
.row {
    margin: 10px;
    /* Optional: Add margin for spacing between rows */
    height: 50vh;
}

/* Style for each div */
.box {
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin-bottom: 10px;
    /* Optional: Add margin for spacing between divs */
    display: flex;
}

.column {
    flex: 1;
    margin-right: 10px;
    /* Optional: Add margin for spacing between columns */
    text-align: center;
    justify-content: center;
    align-content: center;
    display: grid;
}


/*Card content*/
.pricing-block-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.pricing-plan {
    color: #05060f;
    font-size: 1.3rem;
    line-height: 1.25;
    font-weight: 700;
}

.landing-logo-session {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
    margin-left: 5%;
    margin-top:5%;
   grid-column-gap: 20px;
}


.login-btn {
    background: rgba(8, 143, 150, 0.678) ;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 20px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(54, 53, 53, 0.308);

}

.login-btn::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(8, 143, 150, 0.678), rgba(128, 100, 194, 0.308));
    z-index: 1;
    transition: background 3s;
}

.login-btn:hover::before {
    animation: rotate 1s infinite;
    transition: all .5s;
}

.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    overflow-x: hidden;
    padding: 20px;
  }
  
  .sidenav button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-card {
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}